<!-- Footer -->
<footer>
    <div class="">
        <div class="row">
            <div class="">
                <ul class="list-inline text-center">
                    <!-- kill the Facebook and Weibo -->

                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.douban_username %}
                    <li>
                        <a href="http://www.douban.com/people/{{ site.douban_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-douban fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}



                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                   {% if site.tw_username %}
                  <li>
                    <a target="_blank" href="http://insights.thoughtworks.cn/author/{{ site.tw_username }}">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa  fa-stack-1x fa-inverse">TW</i>
                      </span>
                    </a>
                  </li>
                  {% endif %}
                   {% if site.linkedin_username %}
                  <li>
                    <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
                <p class="copyright text-muted">
                &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }} ❖ <span id="loadTime" style="display: none">This page loaded in 0 seconds</span>
                </p>
            </div>
        </div>
    </div>
    <div>
      <script>
          window.onload = function(){
              var t = window.performance && performance.timing;
              if (!t) {
                  return;
              }
              var _loadTime = ((new Date().getTime()) - t.navigationStart) / 1000;
              document.getElementById('loadTime').innerHTML = 'This page loaded in ' + _loadTime + ' seconds';
              document.getElementById('loadTime').style.display = 'inline-block';
          }
      </script>
    </div>
</footer>

<script src="http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js"></script>
<!-- vendor JavaScript -->
<script src="{{ " /js/dist/vendor.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/vendor/highlight.pack.js " | prepend: site.baseurl }}"></script>
<!-- Custom JavaScript -->
<script src="{{ "/js/dist/all.min.js " | prepend: site.baseurl }}"></script>

<script>
  //百度分析代码
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?4906345bf1c5c04ca1379de13404a6e0";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


