<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
            <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                <!-- <li>
                  <a href="{{ '/tags/' | prepend: site.baseurl }}">Topic</a>
                </li> -->
                <li class="dropdown-topic">
                  <a href="#">Topic</a>
                  <ul class="sublist">
                    {% for tag in site.tags %}
                        <li class="dropdown">
                            <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}"><i class="fa fa-chevron-left" aria-hidden="true"></i><strong>{{ tag[0] }}</strong></a>
                            <ul class="subsublist">
                                {% for post in tag[1] %}
                                <li class="listing-item">
                                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                  </ul>
                </li>
                <li>
                    <a href="{{ '/about/' | prepend: site.baseurl }}">About</a>
                </li>
                <li>
                    <a href="{{ '/archive/' | prepend: site.baseurl }}">Archive</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-search"></i></a>
                </li>
                <!-- {% for page in site.pages %}{% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %} -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
